In [178]:
! ls

Testing Ground.ipynb    overwatch               tagnames.csv
df_comp_elim_permin.csv scrapy.cfg

In [115]:
import pandas as pd

In [151]:
df = pd.read_csv('df_comp_elim_permin.csv')
df.dropna(axis = 0, how='any', inplace=True)

In [162]:
df = df.iloc[:, 1:]

In [164]:
df['Battle_Tag']=df['Battle_Tag'].apply(lambda x: x.replace('#', '-'))

In [167]:
df_tags = df['Battle_Tag']

In [194]:
df_tags.to_csv('tagnames.csv', encoding='utf-8', index=False, header=True)

In [195]:
df_check = pd.read_csv('tagnames.csv', header=0)

In [199]:
df_check

            Battle_Tag
0        Morellio-1416
1           Zinux-1251
2     BluePillow-21338
3         Miyuna-21516
4           Mood-21538
...                ...
1632      LOBBER-11224
1633       Frisk-31639
1634       Maple-21960
1635  PKBlizzard-21364
1636       Daaxyy-1605

[1637 rows x 1 columns]

In [200]:
!ls

Testing Ground.ipynb    overwatch               tagnames.csv
df_comp_elim_permin.csv scrapy.cfg

In [201]:
ls

Testing Ground.ipynb     overwatch/               tagnames.csv
df_comp_elim_permin.csv  scrapy.cfg

In [241]:
test_df = pd.read_csv('heros_for_playerstop5.csv')
test_df

,Battle_Tag,Hero1,Hero2,Hero3,Hero4,Hero5
0,Morellio-1416,Mercy,Reinhardt,Orisa,Moira,Winston
1,Ne0x-2676,Genji,Doomfist,Tracer,Hanzo,Zenyatta
2,Miyuna-21516,Widowmaker,Reinhardt,Pharah,Genji,Hanzo
3,Hunter18112-1984,Reinhardt,Mercy,Hanzo,Lúcio,Orisa
4,Zinux-1251,Hanzo,Ana,Torbjörn,Soldier: 76,Lúcio
...,...,...,...,...,...,...
1519,Alpha2Omega-11700,Lúcio,Sigma,Moira,Reinhardt,D.Va
1520,Kyfra-1768,Zenyatta,Tracer,Soldier: 76,Mercy,Moira
1521,LOBBER-11224,Roadhog,Soldier: 76,Ashe,Junkrat,Genji
1522,PKBlizzard-21364,Lúcio,Moira,Mercy,Orisa,Reinhardt
1523,Daaxyy-1605,Moira,Sombra,Ana,Mercy,McCree