In [38]:
cd newbuff

/Users/ArkSealand/FIDS/Capstone/Scrapy/test_buff/newbuff

In [2]:
import pandas as pd

In [17]:
df = pd.read_csv('test_hero2.csv')

In [18]:
df

     Hero
0       H
1       a
2       n
3       z
4       o
5    Hero
6       H
7       a
8       n
9       z
10      o
11   Hero
12      H
13      a
14      n
15      z
16      o
17   Hero
18  Hanzo