In [1]:
import pandas as pd

In [11]:
data = pd.read_csv('roles_and_wins.csv')
data

,Battle_Tag,Total_Wins,Top_role_0,role_wins_0,Top_role_1,role_wins_1,Top_role_2,role_wins_2,Top_role_3,role_wins_3
0,Morellio-1416,934,Support,424.0,Tank,435.0,Offense,41.0,Defense,34.0
1,Zinux-1251,85,Tank,12.0,Defense,26.0,Support,20.0,Offense,26.0
2,BluePillow-21338,542,Defense,283.0,Offense,188.0,Tank,47.0,Support,24.0
3,Miyuna-21516,62,Offense,15.0,Defense,25.0,Tank,22.0,NaN,NaN
4,Mood-21538,190,Defense,84.0,Offense,69.0,Support,35.0,Tank,3.0
...,...,...,...,...,...,...,...,...,...,...
1609,LOBBER-11224,241,Tank,56.0,Offense,109.0,Defense,43.0,Support,33.0
1610,Frisk-31639,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1611,Maple-21960,285,Tank,98.0,Offense,57.0,Support,69.0,Defense,60.0
1612,PKBlizzard-21364,109,Defense,10.0,Support,44.0,Tank,23.0,Offense,32.0
1613,Daaxyy-1605,434,Tank,8.0,Support,237.0,Offense,129.0,Defense,61.0