# Zero to Hero - An Overwatch Hero Recommender

## Contents

# Importing Data:

In [1]:
#Import necessary libraries:
import pandas as pd
from surprise import Reader, Dataset

In [69]:
#Import small dataset
data = pd.read_csv('heros_for_playerstop5.csv')

In [63]:
#Import raw large dataset for userId extraction
raw = pd.read_csv('df_comp_elim_permin.csv')
#clean up userId's for scraping:
raw.Battle_Tag = raw.Battle_Tag.apply(lambda x: x.replace('#','-'))
tags = raw['Battle_Tag'] 
#create a csv file with the large userId's
tags.to_csv('200kTags.csv', encoding='utf-8', index=False, header=True)

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,2,5,8,9,12,13,14,15,16,17,20,24,25,26,27,28,29,30,33,34,38,40,42,43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [81]:
#check the content and format of the user id csv file.
check = pd.read_csv('200k_Top_Test1.csv')
check.head()

         Battle_Tag       Hero1      Hero2       Hero3        Hero4     Hero5
0     Morellio-1416       Mercy  Reinhardt       Orisa        Moira   Winston
1        Zinux-1251       Hanzo        Ana    Torbjörn  Soldier: 76     Lúcio
2  BluePillow-21338       Hanzo      Genji  Widowmaker       McCree    Tracer
3      Miyuna-21516  Widowmaker  Reinhardt      Pharah        Genji     Hanzo
4        Mood-21538  Widowmaker     Tracer       Hanzo          Ana  Zenyatta

In [82]:
#Inspect data as it comes
data.head()

         Battle_Tag       Hero1      Hero2     Hero3        Hero4     Hero5
0     Morellio-1416       Mercy  Reinhardt     Orisa        Moira   Winston
1         Ne0x-2676       Genji   Doomfist    Tracer        Hanzo  Zenyatta
2      Miyuna-21516  Widowmaker  Reinhardt    Pharah        Genji     Hanzo
3  Hunter18112-1984   Reinhardt      Mercy     Hanzo        Lúcio     Orisa
4        Zinux-1251       Hanzo        Ana  Torbjörn  Soldier: 76     Lúcio

In [72]:
#Inspect large dataset as it comes
top_200k = pd.read_csv('Test_top_Heroes.csv')
top_200k

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 6 columns):
Battle_Tag    18 non-null object
Hero1         18 non-null object
Hero2         18 non-null object
Hero3         18 non-null object
Hero4         18 non-null object
Hero5         18 non-null object
dtypes: object(6)
memory usage: 992.0+ bytes

In [4]:
#Check for null values
data.isnull().sum()

Battle_Tag    0
Hero1         0
Hero2         0
Hero3         0
Hero4         0
Hero5         0
dtype: int64

In [5]:
#Get Dummies for all heroes
heroes = pd.get_dummies(data, columns=['Hero1', 'Hero2', 'Hero3', 'Hero4', 'Hero5'])

In [6]:
heroes.head()

,Battle_Tag,Hero1_Ana,Hero1_Ashe,Hero1_Baptiste,Hero1_Bastion,Hero1_Brigitte,Hero1_D.Va,Hero1_Doomfist,Hero1_Genji,Hero1_Hanzo,...,Hero5_Soldier: 76,Hero5_Sombra,Hero5_Symmetra,Hero5_Torbjörn,Hero5_Tracer,Hero5_Widowmaker,Hero5_Winston,Hero5_Wrecking Ball,Hero5_Zarya,Hero5_Zenyatta
0,Morellio-1416,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Ne0x-2676,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,Miyuna-21516,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Hunter18112-1984,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Zinux-1251,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#Define the rating function:
def curate_ratings(x, rating_new):
    if x==1:
        return rating_new
    else:
        return 0

In [8]:
#Iterate through the dataframe applying the ratings with the rating function above:
def apply_curation():
    for col in heroes.columns:
        if col[4]=='1':
            heroes[col]=heroes[col].apply(lambda x: rating(x, 5))
        elif col[4]=='2':
            heroes[col]=heroes[col].apply(lambda x: rating(x, 4))
        elif col[4]=='3':
            heroes[col]=heroes[col].apply(lambda x: rating(x, 3))
        elif col[4]=='4':
            heroes[col]=heroes[col].apply(lambda x: rating(x, 2))
        elif col[4]=='5':
            heroes[col]=heroes[col].apply(lambda x: rating(x, 1))

In [9]:
#Inspect results and check value counts for various heroes:
heroes.head()
heroes.Hero4_Reinhardt.value_counts(), heroes.Hero2_Baptiste.value_counts(), heroes.Hero1_Widowmaker.value_counts()

(0    1460
 2      64
 Name: Hero4_Reinhardt, dtype: int64, 0    1518
 4       6
 Name: Hero2_Baptiste, dtype: int64, 0    1346
 5     178
 Name: Hero1_Widowmaker, dtype: int64)

In [10]:
#Concatenate the columns reducing dimension to just 31 columns one per hero:
list_heroes = []
for col in heroes.columns:
    list_heroes.append(col[6:])
    
list_heroes = list_heroes[1:32]
index = ['1', '2', '3', '4', '5']
for hero in list_heroes:
    heroes[hero] = heroes[f'Hero{index[0]}_{hero}'] + heroes[f'Hero{index[1]}_{hero}'] + heroes[f'Hero{index[2]}_{hero}'] + heroes[f'Hero{index[3]}_{hero}'] + heroes[f'Hero{index[4]}_{hero}']

In [11]:
#Check results
# heroes.iloc[:, 156:].head(20)

In [12]:
# Drop extra columns and Battle_tags
heroes.drop(labels=heroes.loc[:,'Hero1_Ana':'Hero5_Zenyatta'], axis=1, inplace=True)

In [13]:
heroes.head()

,Battle_Tag,Ana,Ashe,Baptiste,Bastion,Brigitte,D.Va,Doomfist,Genji,Hanzo,...,Soldier: 76,Sombra,Symmetra,Torbjörn,Tracer,Widowmaker,Winston,Wrecking Ball,Zarya,Zenyatta
0,Morellio-1416,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Ne0x-2676,0,0,0,0,0,0,4,5,2,...,0,0,0,0,3,0,0,0,0,1
2,Miyuna-21516,0,0,0,0,0,0,0,2,1,...,0,0,0,0,0,5,0,0,0,0
3,Hunter18112-1984,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,Zinux-1251,4,0,0,0,0,0,0,0,5,...,2,0,0,3,0,0,0,0,0,0

In [14]:
#Format the data for surprise library:
# for tag in heroes.Battle_Tag:
#     for col in heroes.columns[1:]:
#         heroes['heroid'] = col
#         heroes['Rating'] = 1

In [15]:
heroes.head()

,Battle_Tag,Ana,Ashe,Baptiste,Bastion,Brigitte,D.Va,Doomfist,Genji,Hanzo,...,Soldier: 76,Sombra,Symmetra,Torbjörn,Tracer,Widowmaker,Winston,Wrecking Ball,Zarya,Zenyatta
0,Morellio-1416,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,Ne0x-2676,0,0,0,0,0,0,4,5,2,...,0,0,0,0,3,0,0,0,0,1
2,Miyuna-21516,0,0,0,0,0,0,0,2,1,...,0,0,0,0,0,5,0,0,0,0
3,Hunter18112-1984,0,0,0,0,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
4,Zinux-1251,4,0,0,0,0,0,0,0,5,...,2,0,0,3,0,0,0,0,0,0

In [34]:
heroes_rs = heroes.melt(id_vars='Battle_Tag')

In [37]:
heroes_rs.sort_values(by='Battle_Tag')

          Battle_Tag       variable  value
29306  A7XViper-1268        Roadhog      0
43022  A7XViper-1268  Wrecking Ball      0
41498  A7XViper-1268        Winston      0
27782  A7XViper-1268      Reinhardt      4
12542  A7XViper-1268          Hanzo      0
...              ...            ...    ...
4153   ｓｈｕｎｎｅｄ！-1159       Baptiste      0
25489  ｓｈｕｎｎｅｄ！-1159         Pharah      0
28537  ｓｈｕｎｎｅｄ！-1159      Reinhardt      0
22441  ｓｈｕｎｎｅｄ！-1159          Moira      0
46825  ｓｈｕｎｎｅｄ！-1159       Zenyatta      0

[47244 rows x 3 columns]

In [3]:
# Create Role category for each Hero;
tanks = ['D.Va','Orisa', 'Reinhardt', 'Roadhog', 'Sigma', 'Winston', 'Wrecking Ball', 'Zarya']
damage = ['Ashe','Bastion','Doomfist','Genji','Hanzo','Junkrat','McCree','Mei','Pharah','Reaper','Soldier: 76','Sombra','Symmetra','Torbjörn','Tracer','Widowmaker']
support = ['Ana','Baptiste','Brigitte','Lúcio','Mercy','Moira','Zenyatta']


heroes_rs['Role'] = ['Tank' if x in tanks else 'Damage' if x in damage else 'Support' for x in heroes_rs['Hero']]

NameError: name 'heroes_rs' is not defined

# Exploratory Data Analysis

In [16]:
#Plot histogram to observe distribution of data for each hero.
# heroes.hist(figsize=(27,27))

# Building the Recommendation System

In [17]:
#Shuffle User ID's for privacy compliance: 

# from random import shuffle
# word = list(word)
# shuffle(word)
# word = "".join(word)
# print(word)

In [83]:
#Read in Values as a Surprise Dataset:
reader = Reader()
data_rs = Dataset.load_from_df(heroes_rs, reader)

In [135]:
#Build full trainset and see how many users and items we have:
dataset = data_rs.build_full_trainset()
print('Number of users:', dataset.n_users, '\n')
print('Number of items:', dataset.n_items)

Number of users: 1524

Number of items: 31

In [90]:
# importing relevant libraries
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

In [86]:
## Perform a gridsearch with SVD
# ⏰ This cell may take several minutes to run
params = {'n_factors': [20, 50, 100],
          'reg_all': [0.02, 0.05, 0.1]}
g_s_svd = GridSearchCV(SVD, param_grid=params, n_jobs= -1)
g_s_svd.fit(data_rs)

In [87]:
# print out optimal parameters for SVD after GridSearch
print(g_s_svd.best_params, '\n') 
print(g_s_svd.best_score)

{'rmse': {'n_factors': 100, 'reg_all': 0.1}, 'mae': {'n_factors': 100, 'reg_all': 0.1}}

{'rmse': 1.3264689050721024, 'mae': 1.1644006950229897}

In [88]:
# cross validating with KNNBasic pearsons similarity
knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data_rs, n_jobs=-1)

In [95]:
#Cross validating with KNN basic cosine similarity
knn_basic_cos = KNNBasic(sim_options={'name':'cosine', 'user_based':True})
cv_knn_basic_cos = cross_validate(knn_basic_cos, data_rs, n_jobs=-1)

In [94]:
#FOR BASIC KNN pearsons sim:  print out the average RMSE and AME score for the test set

for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print('Mean RMSE:', np.mean(cv_knn_basic['test_rmse']))
print('Mean AME:', np.mean(cv_knn_basic['test_mae']))

('test_rmse', array([1.30160276, 1.30342869, 1.30365551, 1.3231148 , 1.29291238]))
('test_mae', array([1.15785158, 1.15890252, 1.15982001, 1.17086337, 1.1544027 ]))
('fit_time', (11.728589057922363, 12.497016906738281, 12.037712097167969, 11.656111240386963, 4.9089720249176025))
('test_time', (20.48473286628723, 20.673447132110596, 20.084001064300537, 19.08134889602661, 6.864269018173218))
-----------------------
Mean RMSE: 1.3049428291027632
Mean AME: 1.160368036657315

In [97]:
# for BASIC KNN cosine sim:  print out the average RMSE and AME score for the test set

for i in cv_knn_basic_cos.items():
    print(i)
print('-----------------------')
print('Mean RMSE:', np.mean(cv_knn_basic_cos['test_rmse']))
print('Mean AME:', np.mean(cv_knn_basic_cos['test_mae']))

('test_rmse', array([1.29940975, 1.30326923, 1.2963655 , 1.31497359, 1.29832066]))
('test_mae', array([1.15615153, 1.15802038, 1.15501874, 1.16524265, 1.15570137]))
('fit_time', (5.364799976348877, 6.118090867996216, 6.716567039489746, 6.546181917190552, 5.757969856262207))
('test_time', (19.506115198135376, 20.265190839767456, 20.45352292060852, 19.826094150543213, 8.526690006256104))
-----------------------
Mean RMSE: 1.3024677447674564
Mean AME: 1.158026933453542

In [99]:
# Crossvalidating with Baseline 
knn_baseline = KNNBaseline(sim_options={'name':'cosine', 'user_based':True})
cv_knn_baseline = cross_validate(knn_baseline,data_rs)

Estimating biases using als...
Computing the cosine similarity matrix...

/opt/anaconda3/lib/python3.7/site-packages/surprise/prediction_algorithms/algo_base.py:248: RuntimeWarning: invalid value encountered in double_scalars
  sim = construction_func[name](*args)

Done computing similarity matrix.
Estimating biases using als...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the cosine similarity matrix...
Done computing similarity matrix.

In [109]:
# FOR BASELINE KNN print out the average RMSE and AME score for the test set
for i in cv_knn_baseline.items():
    print(i)
print('-----------------------')
print('Mean RMSE:', np.mean(cv_knn_baseline['test_rmse']))
print('Mean AME:', np.mean(cv_knn_baseline['test_mae']))

('test_rmse', array([1.32672007, 1.30757322, 1.31125531, 1.31025705, 1.30316798]))
('test_mae', array([1.17340217, 1.16249781, 1.16300706, 1.16167806, 1.16007906]))
('fit_time', (4.412320137023926, 6.245452165603638, 3.9241180419921875, 3.9462227821350098, 3.7220499515533447))
('test_time', (11.631180047988892, 11.80039119720459, 9.446741104125977, 11.224421262741089, 10.945563793182373))
-----------------------
Mean RMSE: 1.3117947233113978
Mean AME: 1.1641328332399152

In [1]:
#Crossvalidate KNN with means:
sim_cosine = {'name':'cosine', 'user_based':False}
knn_means = KNNWithMeans(sim_options=sim_cosine)
cv_knn_means = cross_validate(knn_means, data_rs, n_jobs=-1)

NameError: name 'KNNWithMeans' is not defined

In [112]:
# for MEANS KNN print average RMSE 
for i in cv_knn_means.items():
    print(i)
print('-----------------------')
print('Mean RMSE:', np.mean(cv_knn_means['test_rmse']))
print('Mean AME:', np.mean(cv_knn_means['test_mae']))

('test_rmse', array([1.33339021, 1.34078632, 1.32568397, 1.33738157, 1.33175626]))
('test_mae', array([1.17022912, 1.17820921, 1.16780135, 1.17429205, 1.17100421]))
('fit_time', (0.024574995040893555, 0.02240777015686035, 0.024407148361206055, 0.03447294235229492, 0.02077198028564453))
('test_time', (0.5237538814544678, 0.4572148323059082, 0.4230787754058838, 0.45990991592407227, 0.3926992416381836))
-----------------------
Mean RMSE: 1.3337996651903492
Mean AME: 1.1723071870850867

In [114]:
'''--------------------------------------------------------------------'''

'--------------------------------------------------------------------'

In [115]:
# ## Perform a gridsearch2 with SVD with modifications
# # ⏰ This cell may take several minutes to run
# params = {'n_factors': [100, 130],
#           'reg_all': [0.1, 0.15]}
# g_s_svd = GridSearchCV(SVD, param_grid=params, n_jobs= -1)
# g_s_svd.fit(data_rs)

In [116]:
# # print out optimal parameters for SVD after GridSearch2 
# print(g_s_svd.best_params, '\n') 
# print(g_s_svd.best_score)

{'rmse': {'n_factors': 100, 'reg_all': 0.1}, 'mae': {'n_factors': 100, 'reg_all': 0.1}}

{'rmse': 1.3281975010503686, 'mae': 1.1652831317759267}

In [117]:
#They are the same as before...

## Making the first predictions:

In [138]:
knn_basic.fit(dataset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

In [155]:
knn_basic.predict('Zinux-1251', 'Hanzo')

Prediction(uid='Zinux-1251', iid='Hanzo', r_ui=None, est=4.092555901500139, details={'actual_k': 40, 'was_impossible': False})

# Making Recommendations

## Obtaining User Ratings

https://playoverwatch.com/en-us/heroes/ana/